<div *lg class="media pa1" style="width: 100%;overflow: hidden;">
  <img src="http://localhost:3000{{seasonObj.poster}}" class=""
   width="33%" height="auto" alt="...">
  <div style="width: 67%;" class="pl3">
    <div class="f1 dib fw6">Season {{seasonObj.seasonNo+1}}</div>
        <span class="fr mr2">
          by<span class="f3  pl2 fw6 dim" routerLink='/profile//{{showobj.userid}}'>
            <nz-avatar [nzSize]="60  " class="ba b--black-20" nzSrc="http://localhost:3000{{showobj.profile}}"></nz-avatar>
            {{showobj.uname}}
          </span>
        </span>
    <h3 class="mt-0 f2  pr2">{{showobj.title}}</h3>

    <div class="f4  fw6 black-40 ">
      <div class="">Title</div>
      <div style="white-space: pre-wrap;" class="f4 pt1 black w-50  text-break">
        {{seasonObj.seasonTitle}}
      </div>
    </div>
    <div class="f4  fw4 black-40 mt3">
      <div class="fw6">Description</div>
      <div style="white-space: pre-wrap;" class="f4 fw6 pt1 black w-50  text-break">
        {{seasonObj.description}}
      </div>
    </div>
    <div class="f4  fw6 black-40 mt3">
      <div class="">Genre</div>
      <div class="pt1">
        <span class="fw5 gray ma1 " *ngFor="let i of showobj.genre;">
          <span class="bg-black-20 f5  br-pill black pa1 pr2 pl2 ">{{i}}</span>
        </span>
      </div>
    </div>

    <nz-divider></nz-divider>
    <div class="f4 pb2 dib fw6 ">Episodes</div>
    <button *ngIf="homeuser" nz-button class="dib fr mr3" (click)="openCreate()" nzShape="round" [nzSize]="'default'" nzType="primary">+
      Upload New Episode</button>
      <nz-table style="height:43vh;overflow-x:hidden;overflow-y:scroll" #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="episodeArr" [nzLoading]="loading">
              <thead>
                <tr>
                  <th >Episode No.</th>
                  <th>Title</th>
                  <th><span>Description</span></th>
                </tr>
              </thead>
              <tbody>
                <tr class="pointer" routerLink="/play/{{showobj.title}}/{{seasonObj.seasonid}}/{{data.episodeid}}" *ngFor="let data of ajaxTable.data;index as i">
                  <td class="w-10 tc">{{i+1}} <i class="pl2 f2" nz-icon  nzType="play-circle" nzTheme="outline"></i> </td>
                  <td>{{ data.title}}</td>
                  <td>{{ data.description }}</td>
                </tr>
              </tbody>
      </nz-table>
  </div>
</div>

<nz-modal *lg nz [nzFooter]="footer" [nzStyle]="{ top: '0px' }" [(nzVisible)]="epicreate"
    nzTitle="Launch New Episode"
  nzWidth="1000" (nzOnCancel)="cancelCreate()" (nzOnOk)="cancelCreate()">
  <div style="width: 100% ;" class=" ">
    <div class=" f4 fw6 mb2">Epsiode</div>
    <div class="   tc">
      <video *ngIf="vidrender && episodeSrc!==null" controls  src="{{episodeSrc}}" height="auto" width="100%" alt="Upload Video" class="dib outline black-10" ></video>
      <form class="form-group">
        <label  for="file"  class="w-100">
          <img class="pointer dim" *ngIf="showPlace" src="https://www.mealenders.com/wp-content/uploads/2016/04/ME-DR-video-placeholder.png"
          height="500px" width="auto"
          />
          <div class="tc w-100" *ngIf="showSpin" style="height: 500px;width:650px">
            <nz-spin nzSimple class="f1 pt6"  [nzSize]="'large'"></nz-spin>
          </div>
          <div style="border-radius:5px" class="dim  pointer bg-blue white fw5 pa2 pr3 pl3 w-100 tc">
            Select Video
          </div>
        </label>
        <input style="display: none" accept="video/*" type="file" id="file" (change)="getEpisode($event)">
      </form>
    </div>

  </div>
  <div style="width: 100%" class="tl  ">
    <div class="black-40 f5 fw6 pb2  mt1">Episode Title</div>
    <input nz-input #title placeholder="Title of the Season" nzSize="default" />

    <div class="black-40 f5 fw6 pb2  mt2">Description</div>
    <textarea nz-input #des placeholder="Description" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>

  </div>
  <ng-template #footer class="tc w-100">
    <div *ngIf="!startUpdate" (click)="createEpisode(title.value,des.value)"
      class="pointer dim bg-blue pa1 pl2 pr2 fw6 f4 white br-pill tc">Launch New Episode</div>
    <div *ngIf="startUpdate" class="blue  fw6  f5 tc w-100 pt3">Launching New Episode....</div>
    <nz-progress *ngIf="startUpdate" [nzPercent]="percentup" class="w-100 pb2" nzStatus="active"></nz-progress>
    <div *ngIf="updated" class="green pl2  f5 tc w-100 pt3">Episode launched Successfully</div>
    <nz-progress *ngIf="updated" [nzPercent]="100" class=" fw6 pl2 w-90 tc pb2"></nz-progress>
  </ng-template>
</nz-modal>

<nz-modal *md nz [nzFooter]="footer" [nzStyle]="{ top: '0px' }" [(nzVisible)]="epicreate" nzTitle="Launch New Episode"
  nzWidth="1000" (nzOnCancel)="cancelCreate()" (nzOnOk)="cancelCreate()">
  <div style="width: 100% ;" class=" ">
    <div class=" f4 fw6 mb2">Epsiode</div>
    <div class="   tc">
      <video *ngIf="vidrender && episodeSrc!==null" controls src="{{episodeSrc}}" height="auto" width="100%"
        alt="Upload Video" class="dib outline black-10"></video>
      <form class="form-group">
        <label for="file" class="w-100">
          <img class="pointer dim" *ngIf="showPlace"
            src="https://www.mealenders.com/wp-content/uploads/2016/04/ME-DR-video-placeholder.png" height="auto"
            width="100%" />
          <div class="tc w-100" *ngIf="showSpin" style="height: auto;width:100%">
            <nz-spin nzSimple class="f1 pt3" [nzSize]="'large'"></nz-spin>
          </div>
          <div style="border-radius:5px" class="dim  pointer bg-blue white fw5 pa2 pr3 pl3 w-100 tc">
            Select Video
          </div>
        </label>
        <input style="display: none" accept="video/*" type="file" id="file" (change)="getEpisode($event)">
      </form>
    </div>

  </div>
  <div style="width: 100%" class="tl  ">
    <div class="black-40 f5 fw6 pb2  mt1">Episode Title</div>
    <input nz-input #title placeholder="Title of the Season" nzSize="default" />

    <div class="black-40 f5 fw6 pb2  mt2">Description</div>
    <textarea nz-input #des placeholder="Description" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>

  </div>
  <ng-template #footer class="tc w-100">
    <div *ngIf="!startUpdate" (click)="createEpisode(title.value,des.value)"
      class="pointer dim bg-blue pa1 pl2 pr2 fw6 f4 white br-pill tc">Launch New Episode</div>
    <div *ngIf="startUpdate" class="blue  fw6  f5 tc w-100 pt3">Launching New Episode....</div>
    <nz-progress *ngIf="startUpdate" [nzPercent]="percentup" class="w-100 pb2" nzStatus="active"></nz-progress>
    <div *ngIf="updated" class="green pl2  f5 tc w-100 pt3">Episode launched Successfully</div>
    <nz-progress *ngIf="updated" [nzPercent]="100" class=" fw6 pl2 w-90 tc pb2"></nz-progress>
  </ng-template>
</nz-modal>


<div *md class="" style="width: 100%">
  <h3 class="mt-0 f5 dib pl2"><nz-avatar [nzSize]="45" class="ba b--black-20" nzSrc="http://localhost:3000{{showobj.profile}}"></nz-avatar> {{showobj.title}}</h3>
  <h3 class="f6 fr pt3  pr2 dib fw7 ">
    Season {{seasonObj.seasonNo+1}}
  </h3>
  <img src="http://localhost:3000{{seasonObj.poster}}" class="align-self-center mr-3 " width="100%" height="auto"
    alt="...">
  <div style="width:100%" class="pl2 mt3">
    <div class="f5  fw6 black-40 mt3">
      <div class="">Description</div>
      <div style="" class="f6 pt1 black w-90  text-break">
        {{seasonObj.description}}
      </div>
    </div>
    <div class="f5  fw6 black-40 mt3">
      <div class="">Genre</div>
      <div class="pt1">
        <span class="fw5 gray ma1 " *ngFor="let i of showobj.genre;">
          <p class="bg-black-20 f7 dib  br-pill black  pa1 pr2 pl2 ">{{i}}</p>
        </span>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="f4 dib fw6">Episodes</div>
    <button *ngIf="homeuser" nz-button class="dib fr pr2"  (click)="openCreate()" nzShape="round"
    [nzSize]="'small'" nzType="primary">+ Upload New Episode</button>
    <div class="tc w-100 ">
            <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="episodeArr" [nzLoading]="loading">
              <thead>
                <tr>
                  <th>Episode No.</th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody>
                <tr class="pointer" routerLink="/play/{{showobj.title}}/{{seasonObj.seasonid}}/{{data.episodeid}}"
                  *ngFor="let data of ajaxTable.data;index as i">
                  <td class="w-10 tc">{{i+1}} <i class="pl2 f3" nz-icon nzType="play-circle" nzTheme="outline"></i> </td>
                  <td>{{ data.title}}</td>
                </tr>
              </tbody>
            </nz-table>
    </div>
  </div>
</div>
